.landing-page-image{
    height: 100vh;
    background: url('../../assets/images/travel.jpg') center no-repeat;
    background-size: cover;
}

.landing-message-div{
    z-index: 999;
    color: #fff;
}

.landing-page-image div.overlay{
    height: var(--max-height)
}