{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "jsx-a11y",
        "react"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "rules": {
        "react/jsx-filename-extension": [2, { "extensions": [".js", "jsx"]}],
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}