.nav-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.navbar-brand{
    font-weight: 700;
    font-size: 2em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f0f0f0;
}

.nav-link:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: #f0f0f0;
}

.login-btn{
    padding: 5px 10px;
    background-color: #FF9800;
    max-width: 96%;
}

@media (max-width: 768px) {
    .nav-item{
        padding-left: 0!important;
    }

    .nav-wrapper{
        padding: 0.6rem 1rem!important
    }
}